wp-admin
wp-content/plugins/akismet
wp-content/plugins/all-in-one-seo-pack
wp-content/plugins/all-in-one-wp-migration
wp-content/plugins/elementor
wp-content/plugins/essential-addons-for-elementor-lite
wp-content/plugins/google-analytics-for-wordpress
wp-content/plugins/jetpack
wp-content/plugins/premium-addons-for-elementor
wp-content/plugins/simple-tags
wp-content/plugins/woocommerce-gateway-paypal-express-checkout
wp-content/plugins/woocommerce-gateway-stripe
wp-content/plugins/woocommerce-services
wp-content/plugins/woocommerce
wp-content/plugins/wp-mail-smtp
wp-content/plugins/wpforms-lite
wp-content/plugins/wordpress-importer
